table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: left;
}

tr:nth-child(odd):hover {
    background-color: red;
}
tr:first-child:hover {
    background-color: white;
}

